body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
    
}
.container{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
button {
    background-color: #04AA6D;
    color: white;
    left:50px;
    padding: 6px 8px;
    margin: 8px 0;
    border: none;
    border-radius:20px;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    l

    
  }
  
  button:hover {
    opacity:1;
  }
